<ul>
    <!-- todo item -->
    <% todos.forEach(function(todo){ %>
        <li class="todo-item todo-open">
            <input type="checkbox" name="todo" id="<%= todo._id %>" class="todo-checkbox">
            <div class="todo-item-main-wrapper">
                <div class="todo-item-main">
                    <h4 class="todo-title">
                        <%= todo.title %>
                    </h4>
                    <p class="todo-description">
                        <%= todo.description %>
                    </p>
                </div>
                <div class="todo-item-footer">
                    <!-- Show priority only if there is a priority assigned -->
                    <%if(todo.priority){ %>
                        <div class="todo-priority-tag tag-<%= todo.priority %> mr-2">
                            <p class="todo-priority">
                                <%= todo.priority %>
                            </p>
                        </div>
                        <% } %>

                            <!-- Show due date only if there is a due date assigned -->
                            <%if(todo.dueDate){ %>
                                <div class="todo-item-due">
                                    <i class="bx bx-time"></i>
                                    <p class="todo-duedate" data-date="<%= todo.dueDate %>">
                                        <% let d=new Date(todo.dueDate); let options={ day: "numeric" , month: "long" ,
                                            year: "numeric" };%>
                                            <%= d.toLocaleDateString("en-US", options) %>
                                    </p>
                                </div>
                                <% } %>
                </div>
            </div>
            <button class="btn-basic btn-delete-todo">
                <i class="bx bx-trash bx-sm"></i>
            </button>
        </li>
        <% }); %>
</ul>