<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Do-it</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="icons/boxicons/boxicons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <main>
        <div class="app-wrapper">
            <!-- overlay -->
            <div class="bg-overlay hidden"></div>
            <!-- tab -->
            <nav class="tab">
                <ul>
                    <li data-section="open" class="tab-item tab-active">
                        To-do
                    </li>
                    <li data-section="done" class="tab-item">
                        Done
                    </li>
                </ul>
            </nav>
            <div class="fn-bar btn-container">
                <label id="sort-container" for="sort" class="form-special-input mr-auto">
                    <i class="bx bx-filter bx-sm color-dark-60"></i>
                    <div class="form-special-input-container">
                        <select name="sort" id="sort" class="mr-auto">
                            <option disabled selected>Sort</option>
                            <option value="asc">Oldest to newest</option>
                            <option value="desc">Newest to oldest</option>
                            <option value="due_asc">Due date ascending</option>
                            <option value="due_desc">Due date descending</option>
                        </select>
                    </div>
                </label>
                <button class="btn-basic" id="mode-toggler"> <i class="bx bxs-moon"></i></button>
                <button id="main-primary" type="button" class="btn-primary btn-create-todo">Create task</button>
            </div>
            <div class="main-container">
                <div id="todo-open" class="todo-container">
                    <!-- todos -->
                    <%- include("./partials/todos.ejs") -%>

                        <!-- Show empty state if no todos available -->
                        <%if(todos.length < 1){ %>
                            <%- include("./partials/emptyState.ejs") -%>
                                <%} %>
                </div>

                <div id="todo-done" class="todo-container hidden">

                    <!-- todos done -->
                    <%- include("./partials/todosDone.ejs") -%>
                        <!-- empty state -->
                        <%if(doneTodos.length < 1){ %>
                            <%- include("./partials/emptyState.ejs") -%>
                                <%} %>
                </div>
                <!-- form for creating and updating todos -->
                <%- include("./partials/form.ejs")-%>
            </div>
        </div>
    </main>
    <script src="js/todoSections.js" async></script>
    <script src="js/styleSwitch.js" async></script>
    <script src="js/crudOperations.js" async></script>
</body>

</html>